.section{
    display: grid;
    grid-template-columns: 1fr 8fr 3fr 1fr;
    grid-gap: 1em;
}

.section > div {
    background-color: aliceblue;
}

.section > div:nth-child(odd) {
    background-color: antiquewhite;
}

article {
    grid-column: 2/3;
}

img {
    width: 100%;
    height: auto;
}