<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:class="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your things for this day!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/todostyle.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="heads">
        <p>Here are your todos!</p>
    </div>

</div>
<div th:each="todo,iterStat : ${todos}">
    <div class="todo-container">
        <div class="idcolumn" th:text="${todo.getId()}"></div>
        <div th:text="${todo.getToDo()}"></div>
        <div th:text="${todo.getCreator().getName()}"></div>
    </div>
</div>

<div class="buttongrids">
        <div th:replace="fragments/addtodomodalfragment"></div>
        <div th:replace="fragments/addfriendmodalfragment"></div>
        <a href="/logout">
            <button class="btn btn-primary" type="button">Logout!</button>
        </a>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>